/* Color */

$color_background: #f1f5f8;
$color_main: #c39c5f;
$color_text: #507798;


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

$fonts_script: "Dancing Script";
$font_faq_headline: "arial";


/* Padding */
 $padding_num: 2rem;