/* Color */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/* Padding */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  height: 100%;
  background-color: #f1f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.container .main__container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.container .main__container .m-container__headline {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 2.5rem;
  color: #c39c5f;
  margin-bottom: 4rem;
}

.container .main__container .faq__container {
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 6px #d8dde0;
          box-shadow: 2px 3px 6px #d8dde0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}

.container .main__container .faq__container .f-box__show {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px;
      grid-template-columns: 1fr 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 1.7rem 2rem 1rem 2rem;
  cursor: pointer;
}

.container .main__container .faq__container .f-box__show p {
  font-family: "arial";
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #507798;
}

.container .main__container .faq__container .f-box__show p::first-letter {
  text-transform: uppercase;
}

.container .main__container .faq__container .f-box__show .f-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #c39c5f;
  text-align: right;
}

.container .main__container .faq__container .f-box__show .f-box__icon .svg__plus {
  width: 1.5rem;
  height: 1.5rem;
}

.container .main__container .faq__container .f-box__show .f-box__icon .svg__minus {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
  color: #507798;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .main__container .faq__container .f-box__show .f-box__icon .svg__active {
  color: #507798;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.container .main__container .faq__container .f-box__text {
  font-family: "arial";
  line-height: 1.5rem;
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}

.container .main__container .faq__container .active {
  opacity: 1;
  margin-bottom: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/*# sourceMappingURL=style.css.map */